body{
font-family: 'Roboto', sans-serif;
}
*{
box-sizing: border-box;
}
.container{
max-width: 1140px;
margin: auto;
}
.container .row{
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.card{
flex: 0 0 50%;
max-width: 50%;
display: flex;
padding-left: 10px;
padding-right: 10px;
box-sizing: border-box;
}
.card-box{
display: flex;
flex-direction: row;
background: white;
margin-bottom: 2rem;
padding: 0rem;
transition: all 0.3s;
box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 10%);
}
.wrap{ 
width: 45%;
padding: 1.8rem;
}
.wrap h2{
font-weight: 500;
font-size: 1.2rem;
}
.img-wrap{
width: 55%;
padding-left: 1rem;
}
.img-wrap img{
width: 100%;
height: 100%;
object-fit: cover;
}
.mbr-iconfont{
font-size: 1.5rem;
color: #fd830f;
margin: 0.2rem;
}
.mbr-iconfont:first-child{
margin: 0px;
}
@media(max-width: 767px){
.card{
flex: 0 0 100%;
max-width: 100%;
}
}
@media(max-width: 600px){
.card-box{
flex-direction: column-reverse;
}
.img-wrap{
width:100%;
padding-left: 0px;
}
.wrap{
width: 100%;
padding: 0.6rem 1.5rem 1rem 1.5rem;
}
}